#sidebar {
    min-height: 100%;
    width: 100%;
    background-color: #f8f9fa;
    background-color: var(--background-white);
    border-radius: var(--radius-lg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 100px;
    box-sizing: border-box;
}

#sidebar .logo-link-container {
    display: flex;
    flex-direction: column;
    gap: 42px;
    align-items: start;
    justify-content: start;
}

#sidebar .logo-container {
    margin-top: 40px;
    margin-left: 24px;
}

#sidebar .link-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
    margin-left: 16px;
}

#sidebar .link-container li {
    padding-right: 16px;
}

#sidebar .link-container li a {
    font-weight: var(--font-weight-semibold);
    border-radius: 10px;
    padding: 10px 8px;
    width: 172px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 16px;
}

#sidebar .link-container li.active a {
    font-weight: var(--font-weight-bold);
    background-color: rgba(63, 140, 255, 0.1007);
}

#sidebar .link-container li a svg {
    fill: #7D8592;
}

#sidebar .link-container li a span {
    color: #7D8592;
}

#sidebar .link-container li.active a svg {
    fill: var(--primary-color);
}

#sidebar .link-container li.active a span {
    color: var(--primary-color);
}

#sidebar .link-container li.active {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

#sidebar .link-container li.active::after {
    content: "";
    position: absolute;
    right: 0;
    height: 100%;
    width: 4px;
    background-color: var(--primary-color);
    border-radius: 2px;
}

.support-logout-container {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-bottom: 44px;
    gap: 50px;
}

.btn-logout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 16px;
    outline: none;
    background-color: transparent;
    border: none;
    font-weight: var(--font-weight-semibold);
    color: var(--text-color-disabled);
    margin-left: 24px;
}

.support-container {
    height: 100%;
    padding-inline: 16px;
}

.support-container .support-card {
    position: relative;
    width: 168px;
    height: 168px;
    background-color: rgba(63, 140, 255, 0.1007);
    border-radius: var(--radius-lg);
    color: var(--primary-color);
    padding-inline: 16px;
    padding-bottom: 26px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
}

.support-container .support-image {
    width: 140px;
    height: 124px;
    position: absolute;
    z-index: 2;
    left: 18px;
    right: 10px;
    bottom: 90px;
}

.support-container .btn-support {
    border: none;
    border-radius: var(--radius-md);
    padding: 11px 0 13px 16px;
    width: 129px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    color: var(--text-color-secondary);
    background-color: var(--primary-color);
}

.search-container {
    box-sizing: border-box;
    background-color: var(--background-color);
    width: 100%;
    height: 48px;
    padding-left: 19px;
    padding-block: 12px;
    border-radius: var(--radius-md);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 11px;
}

.search-container input {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    width: 60%;
}

.search-container input::placeholder {
    font-weight: var(--font-weight-regular);
    font-size: 16px;
    color: var(--text-color-disabled);
}



@media (max-width: 1024px) {
    #sidebar {
        gap: 143px;
    }

    #sidebar .link-container {
        width: 100%;
    }

    #sidebar .link-container li {
        width: 100%;
    }

    #sidebar .link-container li a {
        width: 100%;
    }

    #sidebar .logo-link-container {
        width: 100%;
    }

    .btn-logout {
        margin-bottom: 44px;
    }

    #sidebar .logo-container {
        margin-top: 0;
        margin-left: 24px;
    }
}