<section id="profile-vacation-container">
    <div class="list-vacation-information row row-cols-1 row-cols-md-2 row-cols-lg-3 g-md-3 g-2">
        <div class="col">
            <div class="vacation-days">
                <svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="36" cy="36" r="35" stroke="#7D8592" stroke-opacity="0.202032" stroke-width="2" />
                    <circle id="progressCircle" cx="36" cy="36" r="35" stroke="#15C0E6" stroke-width="2"
                        stroke-dasharray="220" stroke-dashoffset="300" fill="none" stroke-linecap="round"
                        transform="rotate(-90 36 36)" />
                    <text x="36" y="36" text-anchor="middle" dominant-baseline="central" class="circle-label"
                        fill="#15C0E6">
                        12
                    </text>
                </svg>
                <div class="days-available">
                    <h5 class="title">Vaction</h5>
                    <div class="available-remaining-day">
                        <span>12 / 16 days available</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="vacation-sick-leave">
                <svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="36" cy="36" r="35" stroke="#7D8592" stroke-opacity="0.202032" stroke-width="2" />
                    <circle id="progressCircle" cx="36" cy="36" r="35" stroke="#F65160" stroke-width="2"
                        stroke-dasharray="220" stroke-dashoffset="300" fill="none" stroke-linecap="round"
                        transform="rotate(-90 36 36)" />
                    <text x="36" y="36" text-anchor="middle" dominant-baseline="central" class="circle-label"
                        fill="#F65160">
                        12
                    </text>
                </svg>
                <div class="days-available">
                    <h5 class="title">Sick Leave</h5>
                    <div class="available-remaining-day">
                        <span>12 / 16 days available</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="vacation-work-remotely">
                <svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="36" cy="36" r="35" stroke="#7D8592" stroke-opacity="0.202032" stroke-width="2" />
                    <circle id="progressCircle" cx="36" cy="36" r="35" stroke="#6D5DD3" stroke-width="2"
                        stroke-dasharray="220" stroke-dashoffset="300" fill="none" stroke-linecap="round"
                        transform="rotate(-90 36 36)" />
                    <text x="36" y="36" text-anchor="middle" dominant-baseline="central" class="circle-label"
                        fill="#6D5DD3">
                        12
                    </text>
                </svg>
                <div class="days-available">
                    <h5 class="title">Work remotely</h5>
                    <div class="available-remaining-day">
                        <span>12 / 16 days available</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vacation-request-container">
        <h5 class="title">My Requests</h5>
        <ul class="list-vacation-request">
            <li class="request">
                <div class="flex-responsive">
                    <div
                        class="request-type-container d-flex flex-column justify-content-center align-items-start gap-1">
                        <span>Request Type</span>
                        <div class="request-type-wrapper">
                            <span class="dot sick-leave"></span>
                            <h5 class="request-type">Sick Leave</h5>
                        </div>
                    </div>
                    <div
                        class="request-duration-container d-flex flex-column justify-content-center align-items-start gap-1 d-flex d-lg-none">
                        <span>Duration</span>
                        <h5 class="duratioin">3 days</h5>
                    </div>
                </div>
                <div class="d-flex flex-row align-items-center justify-content-between flex-responsive">
                    <div
                        class="request-duration-container d-flex flex-column justify-content-center align-items-start gap-1 d-none d-lg-flex">
                        <span>Duration</span>
                        <h5 class="duratioin">3 days</h5>
                    </div>
                    <div
                        class="request-start-day-container d-flex flex-column justify-content-center align-items-start gap-1">
                        <span>Start Day</span>
                        <h5 class="start-day">Sep 13, 2020</h5>
                    </div>
                    <div
                        class="request-end-day-container d-flex flex-column justify-content-center align-items-start gap-1">
                        <span>End Day</span>
                        <h5 class="end-day">Sep 16, 2020</h5>
                    </div>
                    <span class="badge badge-warning">Pending</span>
                </div>
            </li>
            <li class="request">
                <div class="flex-responsive">
                    <div
                        class="request-type-container d-flex flex-column justify-content-center align-items-start gap-1">
                        <span>Request Type</span>
                        <div class="request-type-wrapper">
                            <span class="dot work-remotely"></span>
                            <h5 class="request-type">Work remotely</h5>
                        </div>
                    </div>
                    <div
                        class="request-duration-container d-flex flex-column justify-content-center align-items-start gap-1 d-flex d-lg-none">
                        <span>Duration</span>
                        <h5 class="duratioin">1 day</h5>
                    </div>
                </div>
                <div class="d-flex flex-row align-items-center justify-content-between flex-responsive">
                    <div
                        class="request-duration-container d-flex flex-column justify-content-center align-items-start gap-1 d-none d-lg-flex">
                        <span>Duration</span>
                        <h5 class="duratioin">1 day</h5>
                    </div>
                    <div
                        class="request-start-day-container d-flex flex-column justify-content-center align-items-start gap-1">
                        <span>Start Day</span>
                        <h5 class="start-day">Sep 13, 2020</h5>
                    </div>
                    <div
                        class="request-end-day-container d-flex flex-column justify-content-center align-items-start gap-1">
                        <span>End Day</span>
                        <h5 class="end-day">Sep 16, 2020</h5>
                    </div>
                    <span class="badge badge-success">Approved</span>
                </div>
            </li>
            <li class="request">
                <div class="flex-responsive">
                    <div
                        class="request-type-container d-flex flex-column justify-content-center align-items-start gap-1">
                        <span>Request Type</span>
                        <div class="request-type-wrapper">
                            <span class="dot vacation"></span>
                            <h5 class="request-type">Vacation</h5>
                        </div>
                    </div>
                    <div
                        class="request-duration-container d-flex flex-column justify-content-center align-items-start gap-1 d-flex d-lg-none">
                        <span>Duration</span>
                        <h5 class="duratioin">3 days</h5>
                    </div>
                </div>
                <div class="d-flex flex-row align-items-center justify-content-between flex-responsive">
                    <div
                        class="request-duration-container d-flex flex-column justify-content-center align-items-start gap-1 d-none d-lg-flex">
                        <span>Duration</span>
                        <h5 class="duratioin">3 days</h5>
                    </div>
                    <div
                        class="request-start-day-container d-flex flex-column justify-content-center align-items-start gap-1">
                        <span>Start Day</span>
                        <h5 class="start-day">Sep 13, 2020</h5>
                    </div>
                    <div
                        class="request-end-day-container d-flex flex-column justify-content-center align-items-start gap-1">
                        <span>End Day</span>
                        <h5 class="end-day">Sep 16, 2020</h5>
                    </div>
                    <span class="badge badge-success">Approved</span>
                </div>
            </li>
        </ul>
    </div>
</section>