<section id="profile-team-container">
    <div class="workload-content row row-cols-2 row-cols-md-4 g-4">
        <div class="col">
            <div class="employee-card">
                <!-- img -->
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="30" cy="30" r="29" stroke="#7D8592" stroke-opacity="0.202032" stroke-width="2" />
                        <circle id="progressCircle" cx="30" cy="30" r="29" stroke="blue" stroke-width="2"
                            stroke-dasharray="182" stroke-dashoffset="222" fill="none" stroke-linecap="round"
                            transform="rotate(-90 30 30)" />
                        <foreignObject x="5" y="5" width="50" height="50">
                            <div xmlns="http://www.w3.org/1999/xhtml"
                                style="width:50px; height:50px; border-radius: 50%; overflow: hidden;">
                                <img src="assets/avatar.jpg"
                                    style="border-radius: 50%; width:50px; height:50px; object-fit:cover;" />
                            </div>
                        </foreignObject>
                    </svg>
                    <!-- name -->
                    <div class="name-department">
                        <h5 class="name">Shawn Stone</h5>
                        <p class="department">UI/UX Designer</p>
                    </div>
                    <!-- level -->
                    <div class="level-badge">
                        Middle
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="employee-card">
                <!-- img -->
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="30" cy="30" r="29" stroke="#7D8592" stroke-opacity="0.202032" stroke-width="2" />
                        <circle id="progressCircle" cx="30" cy="30" r="29" stroke="blue" stroke-width="2"
                            stroke-dasharray="182" stroke-dashoffset="222" fill="none" stroke-linecap="round"
                            transform="rotate(-90 30 30)" />
                        <foreignObject x="5" y="5" width="50" height="50">
                            <div xmlns="http://www.w3.org/1999/xhtml"
                                style="width:50px; height:50px; border-radius: 50%; overflow: hidden;">
                                <img src="assets/avatar.jpg"
                                    style="border-radius: 50%; width:50px; height:50px; object-fit:cover;" />
                            </div>
                        </foreignObject>
                    </svg>
                    <!-- name -->
                    <div class="name-department">
                        <h5 class="name">Shawn Stone</h5>
                        <p class="department">UI/UX Designer</p>
                    </div>
                    <!-- level -->
                    <div class="level-badge">
                        Middle
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="employee-card">
                <!-- img -->
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="30" cy="30" r="29" stroke="#7D8592" stroke-opacity="0.202032" stroke-width="2" />
                        <circle id="progressCircle" cx="30" cy="30" r="29" stroke="blue" stroke-width="2"
                            stroke-dasharray="182" stroke-dashoffset="222" fill="none" stroke-linecap="round"
                            transform="rotate(-90 30 30)" />
                        <foreignObject x="5" y="5" width="50" height="50">
                            <div xmlns="http://www.w3.org/1999/xhtml"
                                style="width:50px; height:50px; border-radius: 50%; overflow: hidden;">
                                <img src="assets/avatar.jpg"
                                    style="border-radius: 50%; width:50px; height:50px; object-fit:cover;" />
                            </div>
                        </foreignObject>
                    </svg>
                    <!-- name -->
                    <div class="name-department">
                        <h5 class="name">Shawn Stone</h5>
                        <p class="department">UI/UX Designer</p>
                    </div>
                    <!-- level -->
                    <div class="level-badge">
                        Middle
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="employee-card">
                <!-- img -->
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="30" cy="30" r="29" stroke="#7D8592" stroke-opacity="0.202032" stroke-width="2" />
                        <circle id="progressCircle" cx="30" cy="30" r="29" stroke="blue" stroke-width="2"
                            stroke-dasharray="182" stroke-dashoffset="222" fill="none" stroke-linecap="round"
                            transform="rotate(-90 30 30)" />
                        <foreignObject x="5" y="5" width="50" height="50">
                            <div xmlns="http://www.w3.org/1999/xhtml"
                                style="width:50px; height:50px; border-radius: 50%; overflow: hidden;">
                                <img src="assets/avatar.jpg"
                                    style="border-radius: 50%; width:50px; height:50px; object-fit:cover;" />
                            </div>
                        </foreignObject>
                    </svg>
                    <!-- name -->
                    <div class="name-department">
                        <h5 class="name">Shawn Stone</h5>
                        <p class="department">UI/UX Designer</p>
                    </div>
                    <!-- level -->
                    <div class="level-badge">
                        Middle
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="employee-card">
                <!-- img -->
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="30" cy="30" r="29" stroke="#7D8592" stroke-opacity="0.202032" stroke-width="2" />
                        <circle id="progressCircle" cx="30" cy="30" r="29" stroke="blue" stroke-width="2"
                            stroke-dasharray="182" stroke-dashoffset="222" fill="none" stroke-linecap="round"
                            transform="rotate(-90 30 30)" />
                        <foreignObject x="5" y="5" width="50" height="50">
                            <div xmlns="http://www.w3.org/1999/xhtml"
                                style="width:50px; height:50px; border-radius: 50%; overflow: hidden;">
                                <img src="assets/avatar.jpg"
                                    style="border-radius: 50%; width:50px; height:50px; object-fit:cover;" />
                            </div>
                        </foreignObject>
                    </svg>
                    <!-- name -->
                    <div class="name-department">
                        <h5 class="name">Shawn Stone</h5>
                        <p class="department">UI/UX Designer</p>
                    </div>
                    <!-- level -->
                    <div class="level-badge">
                        Middle
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="employee-card">
                <!-- img -->
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="30" cy="30" r="29" stroke="#7D8592" stroke-opacity="0.202032" stroke-width="2" />
                        <circle id="progressCircle" cx="30" cy="30" r="29" stroke="blue" stroke-width="2"
                            stroke-dasharray="182" stroke-dashoffset="222" fill="none" stroke-linecap="round"
                            transform="rotate(-90 30 30)" />
                        <foreignObject x="5" y="5" width="50" height="50">
                            <div xmlns="http://www.w3.org/1999/xhtml"
                                style="width:50px; height:50px; border-radius: 50%; overflow: hidden;">
                                <img src="assets/avatar.jpg"
                                    style="border-radius: 50%; width:50px; height:50px; object-fit:cover;" />
                            </div>
                        </foreignObject>
                    </svg>
                    <!-- name -->
                    <div class="name-department">
                        <h5 class="name">Shawn Stone</h5>
                        <p class="department">UI/UX Designer</p>
                    </div>
                    <!-- level -->
                    <div class="level-badge">
                        Middle
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="employee-card">
                <!-- img -->
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="30" cy="30" r="29" stroke="#7D8592" stroke-opacity="0.202032" stroke-width="2" />
                        <circle id="progressCircle" cx="30" cy="30" r="29" stroke="blue" stroke-width="2"
                            stroke-dasharray="182" stroke-dashoffset="222" fill="none" stroke-linecap="round"
                            transform="rotate(-90 30 30)" />
                        <foreignObject x="5" y="5" width="50" height="50">
                            <div xmlns="http://www.w3.org/1999/xhtml"
                                style="width:50px; height:50px; border-radius: 50%; overflow: hidden;">
                                <img src="assets/avatar.jpg"
                                    style="border-radius: 50%; width:50px; height:50px; object-fit:cover;" />
                            </div>
                        </foreignObject>
                    </svg>
                    <!-- name -->
                    <div class="name-department">
                        <h5 class="name">Shawn Stone</h5>
                        <p class="department">UI/UX Designer</p>
                    </div>
                    <!-- level -->
                    <div class="level-badge">
                        Middle
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="employee-card">
                <!-- img -->
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="30" cy="30" r="29" stroke="#7D8592" stroke-opacity="0.202032" stroke-width="2" />
                        <circle id="progressCircle" cx="30" cy="30" r="29" stroke="blue" stroke-width="2"
                            stroke-dasharray="182" stroke-dashoffset="222" fill="none" stroke-linecap="round"
                            transform="rotate(-90 30 30)" />
                        <foreignObject x="5" y="5" width="50" height="50">
                            <div xmlns="http://www.w3.org/1999/xhtml"
                                style="width:50px; height:50px; border-radius: 50%; overflow: hidden;">
                                <img src="assets/avatar.jpg"
                                    style="border-radius: 50%; width:50px; height:50px; object-fit:cover;" />
                            </div>
                        </foreignObject>
                    </svg>
                    <!-- name -->
                    <div class="name-department">
                        <h5 class="name">Shawn Stone</h5>
                        <p class="department">UI/UX Designer</p>
                    </div>
                    <!-- level -->
                    <div class="level-badge">
                        Middle
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>